* {
  /* margin: 0px; */
  padding: 0px;
}


.entirepage {
  background-color: rgb(3, 3, 46);
  height: 100vh;
}

#cardone {
  padding: 100px;
  /* background-color: rgb(17, 17, 82); */
  grid-area: one;
  margin-right: -150px;
}

.toppart {
  background-color:rgb(92, 92, 248);
  color: rgba(252, 250, 250, 0.884);
  padding: 30px;
  width: 25vh;
  padding-bottom: 10px;
  padding-top: 30px;
  border-radius: 10px;
  height: 40vh;
  margin-bottom: -2px;
}

.image {
  border: solid;
  width: 60px;
  border-radius: 100px;
  height: 60px;
  border-width: 2px;
}

.reportandname {
  padding-top: 20px;
}

.report {
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 12px;
margin-bottom: -20px;
color: rgb(181, 181, 241);
}

.name1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: rgb(248, 246, 246)
}

.name2 {
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 25px;
  margin-top: -20px;
  color: rgb(248, 246, 246)
}

.secondpart {
  background-color: rgb(17, 17, 82);
  color: rgba(252, 250, 250, 0.884);
  padding: 30px;
  width: 25vh;
  padding-bottom: 15px;
  padding-top: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 13vh;
}


.daily {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-top: -17px;
  color: rgb(88, 88, 139);
  margin-bottom: -10px;
}

.weekly {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 12px;
padding-top: 1px;
margin-bottom: -10px;
}

.monthly {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding-top: 1px;
  color: rgb(88, 88, 139);
}

#cardtwo {
  padding: 100px;
  width: 33vh;
  /* padding-bottom: 10px;
  padding-top: 20px; */
  height: 10vh;
  grid-area: two; 
  margin-left: -30px;
}

.topsection {
  background-color: rgba(255, 151, 110, 0.863);
  height: 8vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.topsection1 {
  background-color: rgba(114, 209, 253, 0.863);
  height: 8vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; 
}
.topsection2 {
  background-color: rgba(224, 90, 130, 0.979);
  height: 8vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.topsection3 {
  background-color: rgba(141, 245, 146, 0.863);
  height: 8vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; 
}

.topsection4 {
  background-color: rgba(144, 29, 238, 0.863);
  height: 8vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; 
}

.topsection5 {
  background-color: rgba(241, 227, 100, 0.863);
  height: 8vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; 
}

.cards {
 display: grid;
 grid-template-columns: repeat(4);
 grid-template-rows: repeat(2);
 grid-template-areas: 'one two three four' 'one five six seven';
 /* margin: -100px; */
 justify-content: center;

}

.img {
  padding-left: 150px;
  padding-top: 1gipx;
}

.bottomsection {
background-color: rgb(17, 17, 82);
height: 22vh;
padding: 20px;
border-radius: 12px;
padding-bottom: 1px;
margin-top: -10px;
}

.worketc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin-top: -10px;
}

.hrs {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: white;
  margin-top: -30px;
}

.last {
 color:  rgb(209, 209, 245); 
 font-size: 11px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 margin-top: -35px;
}

#cardthree {
  padding: 100px;
  width: 33vh;
  padding-bottom: 10px;
  padding-top: 20px;
  height: 10vh;
  grid-area: three;
  margin-top: 80px;
  margin-left: -180px;
}


#cardfour {
  padding: 100px;
  width: 33vh;
  padding-bottom: 10px;
  padding-top: 20px;
  height: 10vh;
  grid-area: four;
  margin-top: 80px;
  margin-left: -180px;
}

#cardfive {
  padding: 100px;
  width: 33vh;
  padding-bottom: 10px;
  padding-top: 20px;
  height: 10vh;
  grid-area: five;
  margin-top: -140px;
  margin-left: -30px;
}

#cardsix {
  padding: 100px;
  width: 33vh;
  padding-bottom: 10px;
  padding-top: 20px;
  height: 10vh;
  grid-area: six;
  margin-top: -140px;
  margin-left: -180px;
}

#cardseven {
  padding: 100px;
  width: 33vh;
  padding-bottom: 10px;
  padding-top: 20px;
  height: 10vh;
  grid-area: seven;
  margin-top: -140px;
  margin-left: -180px;
}



@media screen and (max-width:768px) {
  .cards {
  display: flex;
  flex-wrap: wrap;
  }

}